* {
    font-family: "JetBrains Mono Nerd Font","FontAwesome";
    font-size: 13px;
    min-height: 0;
}

window#waybar{
    border-top: 10px;
    border: transparent;
	{{ #if (eq_string theme-name "catppuccin-mocha") }}
		background: #202130;
	{{ /if }}
	{{ #unless (eq_string theme-name "catppuccin-mocha") }}
    background: rgba( 25, 25, 25, 0.3);
	{{ /unless }}
    color: @foreground;
}

#custom-home{
    margin: 0px 12px 0px calc(20px + 20px);
    color: @color15;
    font-size: 12px;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
#clock {
  font-weight: bold;
  color: @color15;
	margin-right: 20px;
}
#workspaces button{
    box-shadow: none;
    background-color: @color14;
    border-radius: 55px;
    margin-right: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bolder;
    color: @color0;
}

#workspaces button.active{
    color: @color16;
}

#workspaces button.active:hover {
  color: @color15;
}

#pulseaudio{
    margin-right: calc(25px + 20px);
}
#custom-sysmenu{
    margin-right: 18px;
    color: #a87d7f;
}
